
    *{
        margin: 0;
        padding: 0;
      
    }
    
    
    .wrapper{
        width: 100%;
        height: 80px;
        
    }
    
    header{
        background: url("../img/back_img.png") ;
        height: 125vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
       
    }
    
    .nav-area{ 
        float: right;
        list-style: none;
        margin-top: 25px;
        margin-right: 150px;
    }
    
    
    .nav-area li{
        display: inline-flex;
        cursor: pointer;
    }
    
    .nav-area li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 5px 25px;
        border-radius: 15px;
        font-family:'Arial';
        font-size: large;
        font-weight: bolder;
        background: rgb(255, 194, 39);
        
    }
    
    .nav-area li a:hover{
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255) ;
        
       
    }
    
    .logo img{
        margin-top: 10px;
        width: 100px;
        margin-left: 300px;
        float: left;
    }
    .logo-end img{
        margin-top: 15px;
        width: 70px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-left: 600px;
        float: left;
    }


.card {
  
    box-shadow: 0 4px 8px 0 rgba(190, 95, 23, 0.2);
    transition: 0.3s;
    width: 80%;
    background: -webkit-linear-gradient(bottom,#ffffff, #ffffff );
   
    
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

section .contentBx{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 5% 50%;
    width: 50%;
    height: 100%;
  

}

section .contentBx .formBx{
    width: 70%;
    padding: 30px 10px;
    margin:auto;
  
   
}

section .contentBx .formBx h2{
    color:rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 180px;
    border-bottom: 4px solid rgb(251, 186, 20);
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;

}


section .contentBx .formBx .inputBx span{
    margin-bottom: 10px;
    font-size: 14px;    
    display: inline-block;
    margin-left: 5px;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-family:'Arial';
    letter-spacing: 1px; 

}

section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 2px solid rgb(255, 191, 0);
    font-family:'Arial';
    font-size: 14px;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
    background: white;
    border-radius: 30px;
    
   
}

section .contentBx .formBx .inputBx input[type="submit"]{
   
    background: rgb(251, 186, 20);
    color:black;
    outline: none;
    border: none;
    margin-left: 27.5px;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Arial';
    cursor: pointer; 
}

section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: rgb(255, 210, 96);
}

section .contentBx .formBx .remember{
    margin-bottom: 20px;
    color:rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 8px;
    cursor: pointer;
    font-family:'Arial';
}
  

section .contentBx .formBx p{
    color:rgb(0, 0, 0);
    font-family:'Arial';
    font-size: 14px;
    margin-left: 100px;
    font-weight: bolder;

}

section .contentBx  p a{
    margin-left: 2px;
    color: rgb(0, 98, 255); 
    font-weight: bolder;
    font-family:'Arial';
    margin-left: 3px;
    font-size: 14px;
    text-decoration: none;
    
}


footer {
	position:relative;
   max-height: 50%;
	width: 100%;
    height: 300px;
	left: 0;
	bottom: 0;
	background-color: rgb(250, 203, 14);
}

 .intro h5{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
    
}


.intro h5 a{
    text-decoration: none;
    color: rgb(33, 4, 252);
    font-weight: bold;
    
}

#back{
    background-color: rgb(148, 137, 137);
    
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 200px;
    gap: 20px;
    background-color: rgb(6, 121, 244);
    padding: 25px;
    position: relative;
    height: 260px;
    text-align: center;
  }
  
  .grid-container .grid {
    background-color: white;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

#start{
    height: 2.5px;
    background-color: rgb(6, 121, 244);
}

.job-sign{
    width: 100%;
	left: 0;
    height: 260px;
	bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
	background-color: rgb(6, 121, 244);
}

.job-sign h1 {
    font-size: 37.5px;
    align-items: center;
    margin-left: 500px;
    color: rgb(255, 196, 0);
}
#sign-center{
    border: 0px solid  rgb(6, 121, 244);
    padding: 12.5px 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    width: 8%;
    margin-top: 20px;
    margin-left: 745px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background:rgb(251, 202, 4);
    border-radius: 20px;
}

 .s-media img{
    margin-right: 5px;
    margin-left: 10px;
    float: left;
 }
 
 .contri{
    float: left;
    margin-left: 450px;
    margin-top: 30px;
 }
 .contri h4, a{

    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
   
 }
 .contri a{
    text-decoration: none;
  
   
 }
 