{% extends 'base.html' %}

{%  block head %}   <link rel="stylesheet" href="static/css/style.css"> {% endblock %}

{% block content %}

    <body style="background-color: rgb(255, 204, 0);" height="40%"width="80%" >
 
        <header>
            <div class="wrapper">
                <div class="logo">
                  <a  href="/"><img src="static/img/job_logo.png" alt=""  ></a>
                </div>
                
                <ul class="nav-area">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">View Jobs</a></li>
                    <li><a href="#">Apply Now</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="signup">Sign up</a></li>
                    
                </ul>
            </div>
           <!-- <div class="job_back">
                 <img align="left" alt="Coding" width="480" src="https://assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/98721-how-it-works.gif">

               <img align="left" alt="Coding" width="500" src="static/img/job_search.gif">

            </div>-->
            <div class="welcome-txt">
                <h1>Welcome to Job Hunter</h1>
                <a id="contact" href="mailto:vignesh510510@gmail.com">Contact Us</a>
                <a id="sign" href="signup">SignUp</a>
            </div>
           
    
        </header>

        
       
        <div class="grid-container">
            <div class="grid">
                <img src="../static/img/33172-01-finishig-studies.gif" width="100px" height="100px">
                <h5>Get your dream job within a week.</br>Gain on-demand skills.</h5></div>
            <div class="grid">
                <img src="../static/img/27425-train.gif" width="100px" height="100px">
            <h5>Personalized Recommendation. </h5></div>
            <div class="grid">
                <img src="../static/img/75164-glurtr-anmation.gif" width="100px" height="100px">
            <h5>Learn at your own pace, with lifetime access.</h5></div>    
        </div>
        <hr id="start">
        <div class="job-sign">
            <br><br>
            <h1> Let's gets Started to achieve your dream</h1>
            <button id="sign-center">Sign in</button>
           
        </div>
        <footer>
           
            <hr id="start">
            <br>
            <br>
            <div class="intro">
               
           <h5>Copyrights &copy; 2022 Job Hunter.</h5>
            <h5>Job Hunter is a Best Platform for Job seekers as well as Recruiters. It also provides learning resource
            for users which might be simplified to improve reading and learning.</h5>
            <h5>While using Job hunters, you agree to have read and accepted our terms of use, cookie and privacy policy.</h5> 
          
            <div class="logo-end">
                <a  href="/"><img src="static/img/job_logo.png" alt=""  ></a>
              </div>
            <div class="s-media">
               
                <div class="s1">
                <img src="../static/img/youtube1.png" width="35px" height="35px">
                </div>
                <div class="s2">
                <img src="../static/img/instagram-logo.png"  width="33px" height="33px">
                </div>
                <div class="s3">
                <img src="../static/img/facebook-logo.png" width="35px" height="35px">
             </div>
             </div>
            <br>
            <br>
            <div class="contri">
            <h4>Contributers:  Vigneshwaran M, Vishnu chidambaram R, Karthikeyan M, Mathew akash P</h4>
            <h4>For more details contact us : <a href="mailto:vignesh510510@gmail.com">vignesh510510@gmail.com</a></h4>
            </div>
           

        </footer>

    </body>
    
<script>
// Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>
    {% endblock %}
